@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
    @font-face {
      font-family: 'chakie';
      src: url('/fonts/chakie.woff2') format('woff2'); /* adjust path */
    }
  }
  
  @layer utilities {
    /* Custom font families */
    .font-chakie {
      font-family: 'chakie', 'Inter', sans-serif;
    }
  
    /* Animations */
    .animate-typing {
      animation: typing 1s steps(11), blink 0.7s infinite;
    }
  
    .animate-fadeInTop {
      animation: fadeInTop 1s ease-in-out;
    }
  
    .animate-fadeIn {
      animation: fadeIn 1s ease-in-out;
    }
  
    .animate-fadeInImage {
      animation: fadeInImage 1s ease-in-out;
    }
  
    .animate-marquee-horizontal {
      animation: marqueeX var(--duration) infinite linear;
    }
  
    .animate-marquee-vertical {
      animation: marqueeY var(--duration) linear infinite;
    }
  }
  
  /* Keyframes */
  @layer utilities {
    @keyframes fadeInTop {
      0% {
        opacity: 0;
        margin-top: 3rem; /* 12px or 3rem based on desired unit */
      }
      100% {
        opacity: 1;
      }
    }
  
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  
    @keyframes fadeInImage {
      0% {
        opacity: 0;
        margin-top: 40dvh;
      }
      100% {
        opacity: 1;
      }
    }
  
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
  
    @keyframes blink {
      50% {
        border-right-color: transparent;
      }
    }
  
    @keyframes marqueeX {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - var(--gap)));
      }
    }
  
    @keyframes marqueeY {
      from {
        transform: translateY(0);
      }
      to {
        transform: translateY(calc(-100% - var(--gap)));
      }
    }
  }