---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Alen Joy's portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "chakie";
    src: url("/fonts/Chakie.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter_28.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  html.dark {
    color: #fff;
  }
</style>
